* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #212121;
    margin: 0;
    padding: 0;
}

/* here is nav bar */

.nav-main {
    display: flex;
    gap: 1em;
    padding: 2rem 1rem;
    max-width: 1000px;
    margin: 0 auto;
    /* background-color: aqua; */
}

.nav-main >* {
    flex-basis: 100%;
}

.nav-main__links {
    /* background-color:#AAA2FD; */
    display: flex;
    justify-content: flex-end;
}

.nav-main ul {
   /* background-color:#594CF9; */
   display: flex;
}

.nav-main a {
    text-decoration: none;   
}

.nav-main__links li{
    list-style: none;
    margin: 0em 1em;
    font-size: .9em;
}

.nav-main__title {
    font-size: .9em;
    font-weight: 500;
    letter-spacing: .3em;
    /* background-color:azure; */
}

.nav-main__links a:hover {
    color: #594CF9;
}

/* here is the body */

.page-wrap {
    max-width: 900px;
    margin: 0 auto;
    /* background-color:aliceblue; */
}

.section-wrap--wide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0em 1em;
}

.section-wrap--wide >* {
    flex: 1 1 50em;
}

/* here is for content block */

.content-wrap--2box {
    width: 28em;
    height: auto;
    padding: 0 1em;
    /* background-color: #AAA2FD; */
}

.headline__text {
    font-weight: 600;
    font-size: 1.6em;
    text-align: left;
    letter-spacing: .1em;
}

.headline__text--p {
    font-size: .9em;
    margin: 1em 0;
}

#headline__text--1 {
    color:#594CF9;
}

#headline__text--1::after{
    content: "\a";
    white-space: pre;
}

#headline__text--2 {
    color: #2B1F65;
}

.headline__image {
    margin: 1.5em 0;
    width: 100%;
    background-color: white;
}

.section-wrap--normal {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em 1em;
    gap: 1em;
}

.section-wrap--normal >* {
    flex: 1 1 20em;
}

.content-wrap--1box {
    max-width: 900px;
    /* background-color: #AAA2FD; */
    margin: 0 auto;
}

.content-wrap--1box p {
    margin-bottom: 1em;
}

/* here is the breakline */

.hr--thin {
    max-width: 900px;
    margin: 1em auto;
    border-top: 0.5px solid #E8E8E8;
}

.content-wrap--2box h2{
    margin: 1em 0;
    font-size: 1em;
}

.content-wrap--2box li{
    list-style-type: none;
    margin-bottom: .5em;
    font-size: .9em;
}

.gap--1 {
    height: 3em;
}

/* here is the footer */

.footer-main {
    background-color: #102535;
}

.footer-main__title {
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: .1em;
    color: #AAA2FD;
    margin: 2em 0 1em 0;
}

.footer-main__links {
    margin-bottom: 4rem;
    display: flex;
}

.footer-main__links a {
    text-decoration: none;
    color: white;
    margin-right: 2em;
    font-size: .9em;
    font-weight: 600;
}

.caption--dark1 {
    color: #C4C4C4;
    font-size: .9rem;
    font-weight: 400;
}

/* here is home page */

.section-warp {
    margin:0 auto;
    padding: 1em 1em;
}

.purple-text1 {
    color: #2B1F65;
}

.purple-text2 {
    color:#594CF9;
}

.grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
}


.grid a {
    text-decoration: none;
}

.case-card__image-warp {
    width: 100%;
    overflow: hidden;
}

.case-card__image-warp img {
    width: 100%;
    object-fit: cover;
}

.case-card__image-warp img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.case-card h3 {
    margin: 1em 0 .2em 0;
    font-size: .8em;
}

.case-card p{
    font-size: .8em;
}

@media (min-width: 700px){
    .headline__text {
        font-weight: 600;
        font-size: 2.2em;
        margin: 3em 0 1em 0;
        letter-spacing: .2em;
    }

    .grid {
        grid-gap: 3em 1em;
        grid-template-columns: 1fr 1fr;
    }
}