* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #212121;
    margin: 0;
    padding: 0;
}

.section-wrap--dark {
    background-color: #000000;
    padding: 2em 0;
}

.flex-wrap1--dark {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 1.5em 0;
    max-width: 1000px;
}

.flex-wrap1-box1 {
    width: 100%;
}

.flex-wrap1-box2 {
    width: 100%;
}

.sec-title-dark {
    /* font-weight: 600; */
    font-size: 1em;
    margin-bottom: 1.5em;
    color: #E8E8E8;
}

.sec-text-dark {
    /* font-weight: 400; */
    font-size: 1em;
    line-height: 1.6em;
    margin-bottom: 1em;
    color: #E8E8E8;
}

.sec-subtitle-dark {
    /* font-weight: 600; */
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #E8E8E8;
}

.btn-expand {
    color:#AAA2FD;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
}

@media (min-width: 700px) {

    .flex-wrap1-box1 {
        width: 25%;
    }

    .flex-wrap1-box2 {
        width: 75%;
    }

    .sec-title-dark {
        /* font-weight: 600; */
        font-size: 1.2em;
        margin-bottom: 1.5em;
        color: #E8E8E8;
    }

    .sec-text-dark {
        /* font-weight: 400; */
        font-size: 1.2em;
        line-height: 1.6em;
        margin-bottom: 1em;
        color: #E8E8E8;
    }

    .sec-subtitle-dark {
        /* font-weight: 600; */
        font-size: 1.5em;
        margin-bottom: 1em;
        color: #E8E8E8;
    }

}

.divider--thin {
    border-top: 1px solid #bbb;
    margin: 1em 0;
}

.section-wrap--normal {
    padding: 1em 1em;
    max-width: 1000px;
    margin: 0 auto;
}

.wrap2-box1 {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.wrap2-box1 h2 {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 600;
    margin: 1em 1em;
}

@media (min-width: 700px) {
    .section-wrap--normal {
        padding: 2em 1em;
    }

    .wrap2-box1 h2 {
        font-size: 1.3em;
        line-height: 1.5em;
        font-weight: 400;
    }
}


.grid-image {
    display: grid;
    grid-gap: .5em;
    grid-template-columns: 1fr 1fr;
}

.grid-image__main {
    grid-column: span 2;
}

.grid-image__sub {
    grid-column: span 1;
}

.img-warp {
    width: 100%;
    overflow: hidden;
}

.img-warp img {
    width: 100%;
    object-fit: cover;
}

/* expanded content */

/* .flex-wrap1--dark {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 1.5em 0;
    max-width: 1000px;
}

.flex-wrap1-box1 {
    width: 100%;
}

.flex-wrap1-box2 {
    width: 100%;
}

@media (min-width: 700px) {

    .flex-wrap1-box1 {
        width: 25%;
    }

    .flex-wrap1-box2 {
        width: 75%;
    }
} */

.collapsible {
    background-color: transparent;
    color: #AAA2FD;
    cursor: pointer;
    padding: 2em 0;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 1em;
    letter-spacing: .1em;
  }

.active, .collapsible:hover {
    /* background-color: #AAA2FD; */
}

.content {
    overflow: hidden;
    background-color: black;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

